<!DOCTYPE html>
<html>
<script src="https://d3js.org/d3.v4.js"></script>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div>
        Distribution of single numerical data
    </div>
</body>
<!-- <div id="my_dataviz"></div> -->
<div id="my_dataviz"></div>
<script type="text/javascript">
    var tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .text("a simple tooltip");
        
    var sampleSVG = d3.select("#my_dataviz")
        .append("svg:svg")
        .attr("class", "sample")
        .attr("width", 300)
        .attr("height", 300);    
        
    d3.select("#my_dataviz svg")
        .append("svg:circle")
        .attr("stroke", "black")
        .attr("fill", "aliceblue")
        .attr("r", 50)
        .attr("cx", 52)
        .attr("cy", 52)
        .on("mouseover", function(){return tooltip.style("visibility", "visible");})
        .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
        .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
    
        </script>

</html>