<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        Hello, test front end for Backend Dev
    </div>
    <label for="Input" class="btn btn-default">
        Upload CSV
    </label>
    <input type="file" id="Input" style="display: none" />
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/data?arg1=mpg',
            type: "GET",
            dataType: 'json',
            success: function (res) {
                console.log(JSON.stringify(res));
                console.log(res.name)
            }
        });
        $("#Input").change(function () {
            var fd = new FormData();
            fd.append('file', this.files[0]); // since this is your file input

            $.ajax({
                url: "/upload",
                type: "post",
                dataType: 'json',
                processData: false, // important
                contentType: false, // important
                data: fd,
                success: function (text) {
                    location.href = "/data_type"
                },
                error: function () {
                    alert("An error occured, please try again.");
                }
            });
        });
    });
</script>